@font-face {
    font-family: 'Lato';
    src: url('assets/fonts/9622.ttf');
    font-family: 'Maven Pro Regular';
    src: url('assets/fonts/Maven Pro Regular.otf');
}

body {
    min-width: 1000px;
    font-size: 12px;
    line-height: 21.56px;
    font-weight: 400;
    font-family: Lato, "Arial", sans-serif;
    text-align: justify;
    color: #d7fcf5;
}

a {
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-rows: 63px 721px 341px 564px 43px;
    text-align: center;
}

header {
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #323232;
}

header a h1 {
    z-index: 3;
    padding: 0 20px 0 20px;
    font-size: 10px;
    line-height: 6.32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

header a:hover h1{
    color: #2eb398;
    transition: color 0.2s linear;
}

.logo {
    padding-top: 33px;
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #484c5f;
}

.carousel {
    z-index: 1;
}

.hexagon {
    display: inline-block;
    width: 180px;
    height: 210px;
    margin: 10px 10px;
    transform: rotate(60deg);
    overflow: hidden;
}

.hexagon-1 {
    width: 100%x;
    height: 100%;
    transform: rotate(60deg);
    overflow: hidden;
}

.hexagon-2 {
    width: 100%x;
    height: 100%;
    transform: rotate(60deg);
}

.hexagon-2 img {
    transform: rotate(180deg);
}

.row-width {
    min-width: 1200px;
}

.row-1 .hexagon {
    position: relative;
    top: 62px;
}

.row-2 .hexagon {
    position: relative;
}

.row-3 .hexagon {
    position: relative;
    top: -62px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: #2eb398;
}

main p {
    padding-left: 10px;
    text-align: justify;
    width: 600px;
}

main h1 {
    padding-left: 10px;
    font-size: 30px;
    line-height: 4.56px;
    font-family: "Maven Pro Regular", "Arial", sans-serif;
    color: #d7fcf5;
}

main h2 {
    padding-left: 10px;
    font-size: 18px;
    line-height: 21.56px;
    font-family: "Maven Pro Regular", "Arial", sans-serif;
    color: #20816d;
}

.line {
    padding: 0 10px 0 20px;
}

#about a {
    float: right;
    display: block;
    width: 24px;
    height: 24px;
}

#about a:hover {
    transition: background 0.2s linear;
}

#about a.dribbble {
    background: url('assets/img/Inet/Dribbble2.png');

}

#about a.dribbble:hover {
    background: url('assets/img/Inet/Dribbble.png');
}

#about a.linkedin {
    background: url('assets/img/Inet/Linkedin2.png');

}

#about a.linkedin:hover {
    background: url('assets/img/Inet/Linkedin.png');
}

#about a.pinterest {
    background: url('assets/img/Inet/Pinterest2.png');

}

#about a.pinterest:hover {
    background: url('assets/img/Inet/Pinterest.png');
}

#about a.google {
    background: url('assets/img/Inet/Google2.png');

}

#about a.google:hover {
    background: url('assets/img/Inet/Google.png');
}

#about a.twitter {
    background: url('assets/img/Inet/Twitter2.png');

}

#about a.twitter:hover {
    background: url('assets/img/Inet/Twitter.png');
}

#about a.facebook {
    background: url('assets/img/Inet/Facebook2.png');

}

#about a.facebook:hover {
    background: url('assets/img/Inet/Facebook.png');
}

.getin {
    background-color: #323232;
}

.getin h1 {
    font-size: 30px;
    line-height: 4.56px;
    font-weight: 400;
    font-family: "Maven Pro Regular", "Arial", sans-serif;
    text-align: left;
    color: #e0e0e0;
}

.getin h2 {
    font-size: 18px;
    font-family: "Maven Pro Regular", "Arial", sans-serif;
    text-align: left;
    color: #bebebe;
}

.getin .width {
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
}

.width {
    width: 820px;
}

input {
    font-family: Lato, "Arial", sans-serif;
    border: none;
    outline: none;
    width: 550px;
    height: 38px;
}

input[type="text"],
input[type="email"] {
    padding: 0 15px;
    font-size: 12px;
    color: #bebebe;
    background: #454545;
}

form {
    text-align: left;
}

input[type="submit"] {
    width: 90px;
    text-transform: uppercase;
    color: #d7fcf5;
    background-color: #2eb398;
}

input[type='submit']:hover,
.close:hover {
    color: #2eb398;
    background: #d7fcf5;
    transition: color 0.2s linear;
}

.send-right {
    text-align: right;
    clear: both; 
}

textarea {
    width: 550px;
    height: 150px;
    padding: 13px 15px;
    font-size: 12px;
    font-family: Lato, "Arial", sans-serif;
    color: #bebebe;
    border: none;
    background: #454545;
    outline: none;
}

.form {
    display: inline-block;
    width: 580px;
}

.text-form {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: justify;
}

.getin .width .text-form p,
.getin .width .text-form a {
    padding-left: 10px;
    color: #bebebe;
}

.getin .width .text-form a {
    display: block;
}

.getin .width .text-form a:hover {
    color: #2eb398;
    transition: color 0.2s linear;
}

.text-form-first {
    padding: 66px 0 10px 0;
}

.contact {
    margin-right: 14px;
}

.text-form-second {
    margin: 0;
}

.line-horizont {
    margin-top: 50px;
}

#the-darkness {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(102, 102, 102, 0.8);
}

#window {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 12;
    width: 800px;
    height: 400px;
    margin: auto;
    padding: 15px;
    text-align: center;
    color: #bebebe;
    background-color: #454545;
}

#window h1 {
    padding: 15px;
    text-align: center;
}

#window p {
    padding: 15px;
    text-align: center;
}

#window a {
    display: block;
    color: #bebebe;
}

#window .window-on-window-1 a {
    font-size: 20px;
    line-height: 40.56px;
    font-weight: 400;
}

#window .window-on-window-1 a:hover {
    color: #2eb398;
    transition: color 0.2s linear;
}

#the-darkness:target {
    display: block;
}

.close {
    z-index: 13;
    display: inline-block;
    width: 90px;
    height: 37px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-top: 15px;
    font-size: 14pt;
    text-decoration: none;
    text-transform: uppercase;
    color: #d7fcf5;
    background-color: #2eb398;
    cursor: pointer;
}

footer {
    background-color: #222222;
}

footer p {
    display: flex;
    margin: 18px 0 0 0;
    font-size: 12px;
    line-height: 6.32px;
    font-family: "Maven Pro Regular", "Arial", sans-serif;
    color: #454545;
    align-items: center;
    justify-content: center;
}