.grid {
    display: grid;
    grid-template-rows: 63px 721px 341px 564px 43px;
    text-align: center;
}

.box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  }

.header {
    background-color: #323232;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header a {
    color: #ffffff;
    font-family: Lato;
    font-size: 10px;
    font-weight: 700;
    line-height: 6.32px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 20px 0 20px;
    z-index: 8;
}

.header a:hover {
    color: #2eb398;
}

.logo {
    padding-top: 26px;
}

.carousel {
    z-index: 3;
    min-width: 1000px;
}

.hexagon {
    width: 180px;
    height: 210px;
    transform: rotate(60deg);
    overflow: hidden;
    display: inline-block;
    margin: 10px 10px;
}

.hexagon-1 {
    width: 100%x;
    height: 100%;
    transform: rotate(60deg);
    overflow: hidden;
}

.hexagon-2 {
    width: 100%x;
    height: 100%;
    transform: rotate(60deg);
}

.hexagon-2 img {
    transform: rotate(180deg);
}

.row-width {
    min-width: 1200px;
}

.row-1 .hexagon {
    position: relative;
    top: 62px;
}

.row-2 .hexagon {
    position: relative;
}

.row-3 .hexagon {
    position: relative;
    top: -62px;
}

.info {
    background-color: #2eb398;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.info p {
    color: #d7fcf5;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-align: justify;
    padding-left: 10px;
}

.info h1 {
    color: #d7fcf5;
    font-family: "Maven Pro Regular";
    font-size: 30px;
    font-weight: 400;
    line-height: 4.56px;
    padding-left: 10px;
}

.info h2 {
    color: #20816d;
    font-family: "Maven Pro Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.56px;
    padding-left: 10px;
}

.line {
    padding: 0 10px 0 20px;
}

.info a {
    float: right;
}

.getin {
    background-color: #323232;
}

.getin h1 {
    color: #e0e0e0;
    font-family: "Maven Pro Regular";
    font-size: 30px;
    font-weight: 400;
    line-height: 4.56px;
    text-align: left;
}

.getin h2 {
    color: #bebebe;
    font-family: "Maven Pro Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 21.56px;
    text-align: left;
}

.getin .width {
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
}

.width {
    width: 820px;
}

input[type="text"] {
    border: none;
    background: #454545;
    outline: none;
    height: 38px;
    width: 550px;
    color: #bebebe;
    font-size: 12px;
    font-family: Lato;
    padding: 0 15px;
 }

 form {
     text-align: left;
 }

 input[type="submit"] {
    border: none;
    outline: none;
    width: 90px;
    height: 37px;
    background-color: #2eb398;
    text-transform: uppercase;
    font-family: Lato;
    color: #d7fcf5
 }

 .send-right {
    clear:both; 
    text-align:right;
 }

 textarea {
    border: none;
    background: #454545;
    outline: none;
    height: 150px;
    width: 550px;
    color: #bebebe;
    font-size: 12px;
    font-family: Lato;
    padding: 13px 15px;
 }

 .form {
    width: 580px;
    display: inline-block;
 }

 .text-form {
     width: 20%;
     display: inline-block;
     vertical-align: top;
 }

 .getin .width .text-form p {
    color: #bebebe;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-align: justify;
    padding-left: 10px;

}

.text-form-first {
    padding: 66px 0 10px 0;
}

.contact {
    margin-right: 14px;
}

.text-form-second {
    margin: 0;
}

.bottom {
    background-color: #222222;
}

.bottom p {
    color: #454545;
    font-family: "Maven Pro Regular";
    font-size: 12px;
    font-weight: 400;
    line-height: 6.32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px 0 0 0;
}